<!DOCTYPE html>

<html lang="es">

<head>

</head>

<body>

    <!-- main -->
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: rgb(239, 207, 207);color: white;">
            <h1>
                Ha Ocurrido un error al loguearse
            </h1>
            <br>
            <h2>
                Revise los datos ingresados y vuelva a intentarlo
            </h2>
        </div>
    </div>

    <!-- scripts -->
    <script type="text/javascript">
        setTimeout("window.location='/'", 6000);
    </script>

</body>

</html>